{# empty Twig template #}

<div id="menu">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu</h3>
  </div>
  <div class="panel-body">
   <ul class="nav nav-pills nav-stacked">
        <li class="pure-menu-item"> <a class="pure-menu-link" href="{{path('admin_blog_index')}}">Artículos</a></li>
        <li class="pure-menu-item"><a  class="pure-menu-link" href="{{path('category_index')}}">Categorías</a></li>
        <li class="pure-menu-item"><a  class="pure-menu-link" href="{{path('logout')}}">Salir</a></li>
    </ul>
  </div>
</div>
    

</div>
