

<!DOCTYPE HTML>

<html>
    <head>
        <title>{{title}}</title>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

            <meta name="title"  content="{{title}}">
            <meta name="keywords"    content="Desarrollo web, Programación web, Página de Sergio Soriano Toro, Portal Web, PHP, Java, .Net, C#, automatización">
            <meta name="description"  content="Portal de Sergio Soriano Toro, programador, desarrollador e ingeniero de soluciones tecnológicas e industrial">
            <meta name="author"  content="Sergio Soriano Toro">

        {% endblock %}
        {% block stylesheets %}


            {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->

        {% endblock %}  
        {% image '@AppBundle/Resources/public/images/logo.ico'  %}
        <link rel="icon" type="image/png"   href="{{ asset_url }}" />
        {% endimage %}



    </head>
    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            {% block header %}
                {% include '@AppBundle/partials/header.html.twig' %}
            {% endblock %}

            <!-- Menu -->

            {% block nav %}
                {% include '@AppBundle/partials/nav.html.twig' %}
            {% endblock %}
            {% block banner %}
                {% include '@AppBundle/partials/banner.html.twig' %}
            {% endblock %}

            <!-- Banner -->


            <!-- Main -->
            <div id="main">

                <!-- One -->
                {% block section1 %}
                    {% include '@AppBundle/partials/section1.html.twig' %}
                {% endblock %}

                <!-- Two -->
                {% block section2 %}
                    {% include '@AppBundle/partials/section2.html.twig' %}
                {% endblock %}

                {% block section3 %}

                {% endblock %}


            </div>

            <!-- Contact -->
            {% block contact %}
                {% include '@AppBundle/partials/contact.html.twig' %}
            {% endblock %}


            <!-- Footer -->
            {% block footer %}
                {% include '@AppBundle/partials/footer.html.twig' %}
            {% endblock %}

        </div>

        <!-- Scripts -->

        {% block javascripts %}
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            {% javascripts '@AppBundle/Resources/public/js/jquery.scrolly.min.js'
'@AppBundle/Resources/public/js/jquery.scrollex.min.js'
'@AppBundle/Resources/public/js/skel.min.js'
'@AppBundle/Resources/public/js/util.js'
'@AppBundle/Resources/public/js/main.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}




    </body>
</html>
