{% extends '@minBlogBundle/base.html.twig' %}

{% block content %}
    <h1>Category edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <input type="submit" class="btn btn-default" value="Edit" />
            <a class="btn btn-warning"  href="{{ path('category_index') }}">Back to the list</a>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Datos básicos</h1>
        </div>
        <div class="panel-body">
            
            <div class="form-group">
                {{ form_label(edit_form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.name,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
           <div class="form-group">
                {{ form_label(edit_form.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.description) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.description,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_end(edit_form) }}


            {{ form_start(delete_form) }}
            <input  class="btn btn-danger"  type="submit" value="Delete">
            {{ form_end(delete_form) }}

        {% endblock %}
