{% extends '@minBlogBundle/base.html.twig' %}
{% block contentHeader %}
    <div class="header">
        <h1>Categorías</h1>
        <h2>Listado de categorías</h2>
    </div>
{% endblock %}
{% block content %}

    <div class="panel panel-info">
        <div class="panel-heading">


            <h1 class="panel-title">Categories</h1>

            </h1>
        </div>
        <div class="panel-body">


            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Createat</th>
                        <th>Updateat</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            <td>{% if category.createAt %}{{ category.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if category.updateAt %}{{ category.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        ACCIONES
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li> <a class="pure-menu-link" href="{{ path('category_show', { 'id': category.id }) }}">Show</a></li>
                                        <li> <a class="pure-menu-link" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a></li>
                                        <li> <a class="pure-menu-link" href="{{ path('admin_blog_show_category', { 'id': category.id }) }}">Show Articles</a></li>
                                    </ul>

                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <p>

        <a class="btn btn-default" href="{{ path('category_new') }}">Create a new entry</a>

    </p>
{% endblock %}
