{% extends '@minBlogBundle/base.html.twig' %}

{% block content %}
    <h1>Category New</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <input type="submit" class="btn btn-default" value="Create" />
            <a class="btn btn-warning"  href="{{ path('category_index') }}">Back to the list</a>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Datos básicos</h1>
        </div>
        <div class="panel-body">
            
            <div class="form-group">
                {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
           <div class="form-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.description) }}
                <div class="col-sm-10">
                    {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_end(form) }}


            

        {% endblock %}
