{% extends '@minBlogBundle/base.html.twig' %}

{% block content %}
      <h1>Categorías</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path('category_index') }}">Back to the list</a>
            <a  class="btn btn-warning" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Categoria >>>{{ category.name }}<<< </h1>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <col width="20%">
                <col width="80%">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ category.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ category.description }}</td>
                    </tr>
                    <tr>
                        <th>Createat</th>
                        <td>{% if category.createAt %}{{ category.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updateat</th>
                        <td>{% if category.updateAt %}{{ category.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
