{% extends '@minBlogBundle/base.html.twig' %}
{% block content %}


    <div id="indexContent">
    <div class="jumbotron">
        <h1>Minimal Blog</h1>
        <p>By Sergio Soriano</p>
        <p>
            <a class="btn btn-primary btn-lg"href="{{path('admin_blog_index')}}">Artículos</a>
            <a class="btn btn-primary btn-lg" href="{{path('category_index')}}">Categorías</a></p>
    </div>
    </div>


{% endblock %}

