{% extends '@minBlogBundle/base.html.twig' %}
{% block menu %}
{% endblock %}
{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} 

    <div id="login">
        <div class="col-md-8">
            <h1>Minimal Blog</h1>
            <h5> By Sergio Soriano</h5>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingrese para entrar</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="{{ path('min_blog_login') }}" method="post">
                        <div class="form-group">

                            <label for="username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="_password"  placeholder="Password" />
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                                <button   class="btn btn-info" type="submit">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}