{% extends '@minBlogBundle/base.html.twig' %}

{% block content %}

    <h1 >Article edit</h1>


    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <input type="submit" class="btn btn-default" value="Edit" />
            <a class="btn btn-warning"  href="{{ path('admin_blog_index') }}">Back to the list</a>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Datos básicos</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                {{ form_label(edit_form.title, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.title) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.title,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.slug, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.slug) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.slug,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.shortDescription, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.shortDescription) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.shortDescription,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.date, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {{ form_errors(edit_form.date) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.date,{'attr': {'class': 'form-control js-datepicker'}}) }}
                        </div>
                    </div>    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.category, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {{ form_errors(edit_form.category) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.category,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>



    <div class="form-group">
        {{ form_label(edit_form.content, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(edit_form.content) }}
        {{ form_widget(edit_form.content,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(edit_form.image, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.image) }}
                {{ form_widget(edit_form.image,{'attr': {'class': 'form-control'}}) }}
            </div>    
        </div>
        <div class="col-md-6">
            <div class="form-group">
                
                {%if imagePath is defined and imagePath is not empty%}
                    <p><a  class="btn btn-danger" href="{{path('deleteImage',{'id': article.id})}}" >Eliminar Imagen </a></p>
                    {% set completeImagePath =  "/uploads/images/" ~ imagePath    %}                    
                    <img src="{{asset(completeImagePath) }}" alt="Example"   width="250"/>               


                {%endif%}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Meta Datos</h1>
        </div>
        <div class="panel-body">

            <div class="form-group">
                {{ form_label(edit_form.metaAuthor, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.metaAuthor) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.metaAuthor,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>     
            <div class="form-group">
                {{ form_label(edit_form.metaKeywords, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.metaKeywords) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.metaKeywords,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>     
            <div class="form-group">
                {{ form_label(edit_form.metaDescription, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(edit_form.metaDescription) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.metaDescription,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>   
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
{{ form_start(delete_form) }}
<input  class="btn btn-danger"  type="submit" value="Borrar artículo">

{{ form_end(delete_form) }}


</div>
</div>

{% block javascripts %}
    {{parent()}}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".js-datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
            tinymce.init({selector: 'textarea',
                height: 350,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste imagetools"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            });

        });

    </script>
</script>
{% endblock %}
{% endblock %}
