{% extends '@minBlogBundle/base.html.twig' %}
{% block contentHeader %}
    <div class="header">

        <h1>Listado de artículos</h1>
    </div>
{% endblock %}



{% block content %}

    <div class="panel panel-info">
        <div class="panel-heading">

            <h1 class="panel-title">Articles {%if category is defined%}in {{category}} Category{%endif%}

            </h1>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Slug</th>               
                        <th>Category</th>
                        <th>Date</th>
                        <th>Createat</th>
                        <th>Updateat</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td><a href="{{ path('admin_blog_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.slug }}</td>                   
                            <td><a href="{{path('admin_blog_show_category',{'id':article.category.id})}}">{{ article.category }}</a></td>

                            <td>{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if article.createAt %}{{ article.createAt|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if article.updateAt %}{{ article.updateAt|date('Y-m-d') }}{% endif %}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        ACCIONES
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                        <li> <a class="pure-menu-link" href="{{ path('admin_blog_show', { 'id': article.id }) }}">Show</a></li>
                                        <li> <a class="pure-menu-link" href="{{ path('admin_blog_edit', { 'id': article.id }) }}">Edit</a></li>

                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




    <p>

        <a  class="btn btn-default" href="{{ path('admin_blog_new') }}">Create Article</a>

    </p>
{% endblock %}
