{% extends '@minBlogBundle/base.html.twig' %}
{% block content %}
    <h1>Article</h1>


    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path('admin_blog_index') }}">Back to the list</a>
            <a class="btn btn-warning"href="{{ path('admin_blog_edit', { 'id': article.id }) }}">Edit</a>

        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Article</h1>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <col width="20%">
                <col width="80%">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ article.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ article.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ article.slug }}</td>
                    </tr>
                    <tr>
                        <th>Shortdescription</th>
                        <td>{{ article.shortDescription }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ article.content }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ article.category }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Createat</th>
                        <td>{% if article.createAt %}{{ article.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updateat</th>
                        <td>{% if article.updateAt %}{{ article.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><div>
                                {%if imagePath is defined and imagePath is not empty%}
                                    {% set completeImagePath =  "/uploads/images/" ~ imagePath    %}                    
                                    <img src="{{asset(completeImagePath) }}" alt="Example"   width="250"/>
                                    <p>
                                        <a  class="btn btn-danger" href="{{path('deleteImage',{'id': article.id})}}" >Eliminar Imagen </a></p>

                                {%endif%}
                            </div></td>
                    </tr>
                    <tr>
                        <th>Metaauthor</th>
                        <td>{{ article.metaAuthor }}</td>
                    </tr>
                    <tr>
                        <th>Metakeywords</th>
                        <td>{{ article.metaKeywords }}</td>
                    </tr>
                    <tr>
                        <th>Metadescription</th>
                        <td>{{ article.metaDescription }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ form_start(delete_form) }}
    <input  class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
