<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

            {% stylesheets '@minBlogBundle/Resources/public/css/layouts/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->

        {% endblock %}  
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <!-- Menu toggle -->
                        <a href="#menu" id="menuLink" class="menu-link">
                            <!-- Hamburger icon -->
                            <span></span>
                        </a>
                        {% block menu %}
                            {% include '@minBlogBundle/Default/partials/menu.html.twig' %}
                        {% endblock %}
                    </div>
                    <div class="col-md-9">
                        <div id="main">
                            {% block main %}
                                {% block contentHeader %}

                                {% endblock %}
                                <div class="content">
                                    {% block content %}

                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            {% javascripts '@minBlogBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@minBlogBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>