{# empty Twig template #}
 <section id="banner" class="major">
                <div class="inner">
                    <header class="major">
                        <h1>Hi, my name is Sergio Soriano Toro</h1>
                    </header>
                    <div class="content">
                        <p>A developer, a engineer<br />
                            your solution</p>
                        <ul class="actions">
                            <li><a href="#one" class="button next scrolly">Meet me</a></li>
                        </ul>
                    </div>
                </div>
            </section>