{# empty Twig template #}
<section id="contact">
    <div class="inner">
        <section>

            {{ form_start(form) }}

            {{ form_errors(form) }}
            <form method="post" action="#">
                <div class="field half first">

                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }} 
                </div>
                <div class="field half">
                    {{ form_label(form.email) }}
                     {{ form_errors(form.email) }}
                   {{ form_widget(form.email) }} 
                </div>
                <div class="field">
                    {{ form_label(form.message) }}
                     {{ form_errors(form.message) }}
                   {{ form_widget(form.message) }} 
                </div>
                <ul class="actions">
                    <li> {{ form_widget(form.save) }}</li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>

                {{ form_end(form) }}
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">contacto@sergiosoriano.com</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-user"></span>
                    <h3>Do not hesitate</h3>
                    <span>If you need a Profesional developer</span>
                </div>
                <!-- <section>
                     <div class="contact-method">
                         <span class="icon alt fa-html5"></span>
                         <h3>Web</h3>
                         <span><a href="http://sergiosoriano.com" >www.sergiosoriano.com</a></span>
                     </div>
                 </section>-->
                <!-- <section>
                     <div class="contact-method">
                         <span class="icon alt fa-home"></span>
                         <h3>Address</h3>
                         <span>1234 Somewhere Road #5432<br />
                             Nashville, TN 00000<br />
                             United States of America</span>
                     </div>
                 </section>-->
            </section>
    </div>
</section>