<section id="education">
                <header class="major">
                    <h2>Education</h2>
                </header>
                <div class="row">

                    <div class="12u 12u$(small)">

                        <h3><span class="icon alt fa fa-university"></span>  Academic Titles</h3>                 


                        <div class="box">                            
                            <dl>
                                <dt><h4><span class="button special">2016 </span> Ciclo formativo de Grado Superior DESARROLLO DE APLICACIONES WEB</h4> </dt>
                                <dd>
                                    <p>Cursando actualmente...</p>
                                </dd>
                                <dt><h4><span class="button special">2012 </span> Licenciado en Humanidades.</h4> </dt>
                                <dd>
                                    <p>Universidad de Córdoba. España</p>
                                </dd>
                                <dt><h4><span class="button special">2011 </span> Máster de Textos, Documentos e Intervención Cultural.</h4> </dt>
                                <dd>
                                    <p>Universidad de Córdoba. España</p>
                                </dd>
                                <dt><h4><span class="button special">2004 </span> Ingeniero Técnico Industrial: Especialidad Electrónica Industrial.</h4> </dt>
                                <dd>
                                    <p>Universidad de Córdoba. España</p>
                                </dd>





                            </dl>
                        </div>
                    </div>


                    <div class="12u$ 12u$(small)">
                        <h3><span class="icon alt fa fa-graduation-cap"></span>  Complementary</h3>                  
                        <div class="box">
                            <h4>Cursos de formación</h4>
                            <ul class="alt">
                                <li><span class="button special">2015 </span> Excel 2007 avanzado - Fundación sin barreras</li>
                                <li><span class="button special">2015 </span> Ilustración vectorial con Adobe Illustrator CS2 - Fundación sin barreras</li>
                                <li><span class="button special">2015 </span> Adobe After Effects CS3 - Fundación sin barreras</li>
                                <li><span class="button special">2015 </span> Community Manager - Fundación sin barreras</li>                               
                                <li><span class="button special">2015 </span> Adobe InDesign CS4 - Fundación sin barreras</li>
                                <li><span class="button special">2014 </span> Adobe Photoshop CS5.5 avanzado - Fundación sin barreras</li>
                                <li><span class="button special">2014 </span> Programación PHP avanzada y MySQL - Fundación sin barreras</li>
                                <li><span class="button special">2014 </span> Programación PHP básica - Fundación sin barreras</li>
                                <li><span class="button special">2014 </span> Programación Visual Basic .NET - Fundación sin barreras</li>
                                <li><span class="button special">2014 </span> Servidor Web Apache - Fundación sin barreras</li>
                                <li><span class="button special">2013 </span> Programación web con PHP y MySQL - Academia Seis C</li>
                                <li><span class="button special">2013 </span> Programación Web en Java - Aula Mentor</li>
                                <li><span class="button special">2013 </span> Programación de aplicaciones para Android - Aula Mentor</li>
                                <li><span class="button special">2007 </span> Ayudante de Documentación para medios de comunicación - CFNT </li>
                                <li><span class="button special">2006 </span> Auxiliar de Biblioteca y Centro de Documentación- CFNT</li>
                                <li><span class="button special">2004 </span> Curso de Ofimática Office- Alcántara</li>  


                            </ul>
                        </div>
                    </div>
                </div>       
            </section>