{# empty Twig template #}

<section id="experience">
    <header class="major">

        <h2>Experience</h2>
    </header>
    <div class="box">

        <dl>
            <dt><span class="button special">2004- </span> Freelance
            <dd>
                <blockquote><h3>Consultor tecnología e industria. Desarrollador aplicaciones y automatismos.</h3>Creción de portales web, proyectos informáticos, análisis de datos, videojuegos, desarrollo aplicaciones para empresa. Proyectos ingeniería. Backend y Frontend. Bigdata</blockquote>
            </dd>
            <dt><span class="button special">2015 - </span> Pedagogía Social. Revista Interuniversitaria </dt>
            <dd>
                <blockquote><h3>Secretario Técnico-Informático</h3>Gestión de flujo de trabajo de la revista, extracción de datos, gestión de plataforma de gestión OJS (Open Journal System), asesor técnico, gesión de incidencias.
                    Asesor documentalista</blockquote>

            </dd>
            <dt><span class="button special">2014 - </span> Gestoría / Despacho Virgen de Fátima, Córdoba </dt>
            <dd>
                <blockquote><h3>Auxiliar Técnico-Administrativo en Gestoría/Despacho Abogados</h3>Gestión contable, Implantación de sistema informático de gestión e incidencias, trabajo administrativo
                    Asesor documentalista</blockquote>

            </dd>
            <dt><span class="button special">2012 - 2014</span> Universidad Pablo de Olavide), Sevilla </dt>
            <dd>
                <blockquote><h3>Técnico bibliotecario y documentalista</h3>Realizando tareas de catalogación de fondos, gestión de la información y adquisiciones del proceso técnico de la biblioteca</blockquote>

            </dd>
            <dt><span class="button special">2011 - 2013</span> Freelance </dt>
            <dd>
                <blockquote><h3>Asesor Estadístico</h3>Tutorización estadística y bibliográfica de investigación para tesis doctoral. Clustering, Análisis factorial, ecuaciones estructurales, modelización y predicción de datos, etc. Terminada con Cum Laude</blockquote>

            </dd>
            <dt><span class="button special">2011</span> Universidad de Córdoba </dt>
            <dd>
                <blockquote><h3>Catalogador de fondos bibliográficos</h3>Catalogación retrospectiva de fondos bibliográficos de la Facultad de Filosofía y Letras con Millenium</blockquote>

            </dd>
            <dt><span class="button special">2007</span> Departamento de Proyectos. Biblioteca Universidad de Córdoba </dt>
            <dd>
                <blockquote><h3>Asesor informático y documentalista</h3>Tareas de asesoramiento informático al área, gestión del repositorio, digitalización de fondos, catalogación, etc. Ayuda
                    y asesoramiento en proyectos propios de la biblioteca</blockquote>

            </dd>
            <dt><span class="button special">2004</span> ABB Power Tecnology </dt>
            <dd>
                <blockquote><h3>Asesor tecnológico en departamento de mantenimiento</h3>Asesoramiento industrial a departamento de mantenimiento de la empresa para dar apoyo a su equipo, además de labores administrativas
                    y creación de plan preventivo de maquinaria industrial</blockquote>

            </dd>
        </dl>
    </div>
</section>
