{# empty Twig template #}
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Sergio Soriano Toro</li><li>Design: <a href="https://html5up.net">HTML5 UP </a>and Sergio Soriano Toro &copy; </li>
        </ul>
    </div>
</footer>