{# empty Twig template #}

<header id="header" class="alt style2">
    <a href="{{path('homepage')}}" class="logo"><strong>Sergio</strong> <span>SORIANO TORO</span></a>

   


<nav>
    <a href="#menu">Menu</a>
</nav>
</header>