{# empty Twig template #}

<nav id="menu">
    <ul class="links">
        <li><a href="{{path('homepage')}}">Home</a></li>
        <li><a href="{{path('resume')}}">Resume</a></li>
        <li><a href="{{path('portfolio')}}">Portfolio</a></li>
        <li><a href="{{path('blog')}}">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="{{path('min_blog_login')}}" class="button fit">Log In</a></li>
    </ul>
</nav>
