<section id="projects">
    <header  id="scroll-spy" class="major">

        <h2>Projects</h2>
    </header>
    <div class="row">

        <div class="4u 12u$(medium)">
            <h3><a href="http://www.fimart.es/" target="_BLANK">Fimart </a></h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/fimart.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Portal Feria de innovación Rural</h4>
            Portal para la Feria de Innovación y Desarrollo Rural Fimart 2016. Adaptación de plantilla. Realizado en Wordpress y PHP. Implementación de funcionalidades personalizadas y diseño a medida</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3><a href="http://abreelazahar.com/" target="_BLANK">Abre el Azahar</a></h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/abreelazahar.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Portal de Difusión Cultural y eventos en Córdoba</h4>
            Portal Web dedicado a la difusión cultural y proción turística de Córdoba através de la apertura del Azahar en la ciudad. Realizada en Wordpress y PHP. Adaptación completa y personalización de funcionalidades</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3><a href="http://www.comunidadescordoba.es/" target="_BLANK">Gestión de Comunidades</a></h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/comunidades.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Aplicación web de Gestión de Comunidades y portal web</h4>
            Portal web y aplicación para oficina para mostrar información a propietarios de Comunidades de Propietarios y gestión de petición de presupuestos. Portal Web realizado en HTML5, CSS3, Jquery, Bootstrap para el Front y Symfony, Doctrine y MySql para el BackEnd </p>        </div>  
    </div>
    <div class="row">

        <div class="4u 12u$(medium)">
            <h3><a href="http://becomecordoba.com" target="_BLANK">Become Córdoba </a></h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/become.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Portal de turismo de Córdoba</h4>
            Portal web para empresa turística. Realizado en Wordpress y PHP. Adaptación completa al cliente y mejora de características (multilenguaje, menus, etc).</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3>Uroutes </h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/ROUTES.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Planificación de rutas turísticas</h4>
            Aplicación para ayudar al usuario a planificar rutas turísticas. Realizado en PHP puro, con ayuda de Propel para el BackEnd. En el Front-End HTML, CSS, mucho jQuery y Google Maps API</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3>Gestor de Incidencias</h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/incidencias.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Control y gestión de incidencias en Comunidades de Propietarios</h4>
            Aplicación interna para empresa de gestión de comunidades para el tratamiento y gestión de incidencias en las Comunidades. Realizado restful web services, API con Silex y Propel en el BackEnd y en el Front AngularJs</p>
        </div>  
    </div>
<h2>En desarrollo...</h2>
<div class="row">
        
        <div class="4u 12u$(medium)">
            <h3>MyFav</h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/construccion.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Gestor personal de favoritos</h4>
            Aplicación personal para gestionar links favoritos. Pensada para realizarse con una API restful con SILEX o SLIM de backEnd y un Front multidispositivo, Android y web usando AngularJs</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3>Happy Roomates </h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/construccion.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Aplicación para compañeros de piso</h4>
            Aplicación / Red social creada para el día a día de un piso de estudiantes o compañeros de piso. Pensada para realizarse en Spring MVC en el BackEnd y con PrimeFaces en el Front</p>
        </div>
        <div class="4u 12u$(medium)">
            <h3>The House of Lovecraft</h3>
            <p><span class="image fit">{% image '@AppBundle/Resources/public/images/lovecraft.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                    {% endimage %}</span>
            <h4>Juego de Terror estilo TopDown</h4>
            Juego de terror basado en H.P. Lovecraft estilo TopDown shooter realizado con Unity3D para la programación e Illustrator para el diseño</p>
        </div>  
    </div>
</section>
