 <section id="publications">
                <header  id="scroll-spy" class="major">

                    <h2>Publications</h2>
                </header>
                <div class="box">
                    <blockquote>Soriano-Toro, S. (2009). Acercarse a Popper, a la falsación y a su aplicación en la sociedad. Revista Isagogé.  </blockquote>
                </div>
                <div class="box">
                    <blockquote>Soriano-Toro, S., Mantas, Pedro (2010). Dos aplicaciones cinematográficas en la 'rehabilitación' de los prejuicios en la Hermenéutica Gadameriana. Revista de Filosofía Alfa </blockquote>
                </div>
            </section>
