{# empty Twig template #}
<section id="one" class="tiles">
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic01.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
            <!-- <img src="images/pic01.jpg" alt="" />-->
        </span>
        <header class="major">
            <h3><a href="{{path('resume')}}" class="link">Resume</a></h3>
            <p>Consulta mi currículum</p>
        </header>
    </article>
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic02.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}

        </span>
        <header class="major">
            <h3><a href="{{path('portfolio')}}" class="link">Projects</a></h3>
            <p>Algunos de mis trabajos realizados y en desarrollo</p>
        </header>
    </article>
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic03.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}

        </span>
        <header class="major">
            <h3><a href="{{path('portfolio')}}" class="link">Developing at this moments</a></h3>
            <p></p>
        </header>
    </article>
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic04.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}

        </span>
        <header class="major">
            <h3><a href="{{path('blog')}}" class="link">Blog</a></h3>
            <p>Articles about programming, engineering, automation and more...  </p>
        </header>
    </article>
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic05.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}

        </span>
        <header class="major">
            <h3><a href="{{path('resume')}}" class="link">Continuous learning</a></h3>
            <p>Where I go soon...</p>
        </header>
    </article>
    <article>
        <span class="image">
            {% image '@AppBundle/Resources/public/images/pic06.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}

        </span>
        <header class="major">
            <h3><a href="{{path('resume')}}" class="link">Meet me</a></h3>
            <p>No doubt</p>
        </header>
    </article>
</section>