{# empty Twig template #}
{%if article is defined %}
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Last Article Blog</h2>
            </header>

            

            <section id="two" class="spotlights">
                <section>
                    
                    <a href="{{path('blogArticle',{'id': article.id})}}" class="image">
                        {%if imagePath is defined and imagePath is not empty%}
                            {% set completeImagePath =  "/uploads/images/" ~ imagePath    %}                    
                            <img src="{{asset(completeImagePath) }}" alt="Example"  />               
                        {%endif%}
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3><a href="{{path('blog',{'id': article.id})}}">{{article.title}}</a></h3>
                                <h5><span class="icon alt fa-calendar"></span> {{article.date|date("d/m/Y")}}</h5>
                            </header>
                            {{article.content|truncate(200)|raw}}
                            <ul class="actions">
                                <li><a href="{{path('blogArticle',{'id': article.id})}}" class="button">Learn more</a></li>
                                 <li><a href="{{path('blog')}}" class="button">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

            </section>
        </div>
    </section> 

{%endif%}
