<section id="skills">
    <header  id="scroll-spy" class="major">

        <h2>Skills</h2>
    </header>
    <div class="12u 12u$(small)">
        <h1>Programming</h1>
    </div>
    <div class="row">        
        <div class="4u 12u$(small)">
            <h3>Code Skills</h3>
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #01DF74;"><span>JavaSE</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background:  #0B614B;"><span>JavaEE</span></div>
                <div class="skillbar-bar" style="background: #088A68;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #0B614B;"><span>PHP</span></div>
                <div class="skillbar-bar" style="background:  #088A68;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #01DF74;"><span>Javascript</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #01DF74;"><span>C#</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #01DF74;"><span>Visual Basic</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #01DF74;"><span>Node.js</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title" style="background: #01DF74;"><span>.Net</span></div>
                <div class="skillbar-bar" style="background: #58FAAC;"></div>
            </div> <!-- End Skill Bar -->
            <h3>CMS'</h3>

            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Joomla</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="97%">
                <div class="skillbar-title" style="background: #0B614B;"><span>Wordpress</span></div>
                <div class="skillbar-bar" style="background: #0B614B;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #27ae60;"><span>OpenCMS</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Drupal</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Prestashop</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #0B614B;"><span>OJS</span></div>
                <div class="skillbar-bar" style="background: #0B614B;"></div>
            </div> <!-- End Skill Bar -->



        </div>

        <div class="4u 12u$(small)">
            <h3>Frameworks</h3>
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #084B8A;"><span>Spring (Java)</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #084B8A;"><span>JSF (Java)</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #0000FF;"><span>Symfony (PHP)</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #084B8A;"><span>Express</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #084B8A;"><span>Slim (PHP)</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #084B8A;"><span>Silex(PHP)</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> <!-- End Skill Bar -->
            <h3>Database</h3>

            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #0B614B;"><span>JPA (ORM)</span></div>
                <div class="skillbar-bar" style="background: #088A68;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Hibernate (ORM)</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #0B614B;"><span>Doctrine (ORM)</span></div>
                <div class="skillbar-bar" style="background: #088A68;"></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Propel (ORM)</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> 
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #0000FF;"><span>MySQL</span></div>
                <div class="skillbar-bar" style="background: #0080FF;"></div>
            </div> 
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #124e8c;"><span>HSQL</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> 
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #124e8c;"><span>SqlLite</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> 
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #124e8c;"><span>MongoDB</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> 
        </div>
        <div class="4u 12u$(small)">
            <h3>Front-End Tecnologies</h3>
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>AngularJs</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #d35400;"><span>PrimeFaces</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #d35400;"><span>IceFaces</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Jquery</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #8A4B08;"><span>Bootstrap</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>Foundation</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #d35400;"><span>Ember</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>CSS3</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>LESS</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <h3>Others</h3>
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Apache</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #d35400;"><span>Java Servers</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #d35400;"><span>Linux</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #d35400;"><span>IDE's</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->

        </div>
    </div>                   
    <div class="row">
        <div id="scroll-spy2" class="12u 12u$(small)">
            <h1>Game / Multimedia / Design</h1>
        </div>
        <div class="6u 12u$(small)">
            <h3>Design</h3>
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>Photoshop</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #d35400;"><span>Illustrator</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Indesign</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Acrobat</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title" style="background: #d35400;"><span>Affter Effect</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>Scribus</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>InkScape</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->



            <h3>Game Development</h3>
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #d35400;"><span>Android</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #d35400;"><span>Unity3D</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>Blender</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->


        </div>
        <h3>3D Tecnologies</h3>
        <div class="6u$ 12u$(small)">
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #333333;"><span>Prusa i3</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #333333;"><span>SolidWorks</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #333333;"><span>Repetier-Host</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #333333;"><span>SketchUp</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->                        

            <h3>Offimatic</h3>
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #27ae60;"><span>VBA</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Excel</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Access</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Word</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Visio</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Project</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->


        </div>                   
    </div>
    <div class="row">
        <div id="scroll-spy3" class="12u 12u$(small)">
            <h1>Electronic / Industrial / Automation</h1>
        </div>
        <div class="6u 12u$(small)">           
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #d35400;"><span>LabView</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #d35400;"><span>SCADA</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>PLCs</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Arduino</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #d35400;"><span>Rasperry Pi</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Sensors</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Actuators</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->        


        </div>

        <div class="6u$ 12u$(small)">
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #333333;"><span>Digital Elect.</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #333333;"><span>Analog Elect.</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #333333;"><span>Power Elect.</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #333333;"><span>MatLab</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->            

            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #333333;"><span>Proteus</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->       
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #333333;"><span>CNC Tech.</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->       
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #333333;"><span>PIC</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->               


        </div>                   
    </div>
    <div id="scroll-spy4" class="12u 12u$(small)">
        <h1>Languages</h1>
    </div>
    <h3>Spanish</h3>  
    <div class="row">      
        
       <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #124e8c;"><span>Reading</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> <!-- End Skill Bar -->
        </div>

        <div class="3u 12u$(small)">
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #333333;"><span>Listening</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #d35400;"><span>Speaking</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->


        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Writing</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->


        </div>
    </div>         
    <h3>English</h3>  
    <div class="row">      
        
       <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #124e8c;"><span>Reading</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> <!-- End Skill Bar -->
        </div>

        <div class="3u 12u$(small)">
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title" style="background: #333333;"><span>Listening</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #d35400;"><span>Speaking</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->


        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Writing</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->


        </div>
    </div>    
    <h3>Catalan</h3>  
    <div class="row">      
        
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #124e8c;"><span>Reading</span></div>
                <div class="skillbar-bar" style="background: #4288d0;"></div>
            </div> <!-- End Skill Bar -->
        </div>

        <div class="3u 12u$(small)">
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #333333;"><span>Listening</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
            </div> <!-- End Skill Bar -->
        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title" style="background: #d35400;"><span>Speaking</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
            </div> <!-- End Skill Bar -->


        </div>
        <div class="3u 12u$(small)">

            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #27ae60;"><span>Writing</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
            </div> <!-- End Skill Bar -->


        </div>
    </div>            


    <hr class="major" />
</section>
