{# empty Twig template #}
{% extends '@AppBundle/base.html.twig' %}
{% block banner %}
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="images/pic07.jpg" alt="" />
            </span>
            <header class="major">
                <h1>My Developer Blog</h1>
            </header>
            <div class="content">
                <p>Lorem ipsum dolor sit amet nullam consequat<br />
                    sed veroeros. tempus adipiscing nulla.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block section1 %}
    <section id="one">
        <div class="inner">
            <header class="major">
                <h2>You can filter by Category</h2>
            </header>

            <p>
                {% for category in categories %}
                    <a href="{{path('category',{'id': category.id})}}" class="button">{{category.name}}</a>
                {% endfor %}
            </p>

        </div>
    </section>
{% endblock %}

{% block section2 %}

    <section id="two" class="spotlights">

        {%if articlesC is defined%}
            {%set articles = articlesC[0].articles%}
        {%endif%}
        {% for article in articles %}


            <section>

                <a href="generic.html" class="image">
                    {%if article.image is defined %}
                        {% set completeImagePath =  "/uploads/images/" ~ article.image    %}                    
                        <img src="{{asset(completeImagePath) }}" alt="Example"/>               

                    {%endif%}

                    <!--   <img src="images/pic08.jpg" alt="" data-position="center center" />-->
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h4><a href="{{path('blogArticle',{'id': article.id})}}">{{article.title}}</a></h4>
                            <h5><span class="icon alt fa-calendar"></span> {{article.date|date("d/m/Y")}} Category:{{article.category.name}}</h5>
                        </header>
                        <p>{{article.shortDescription|truncate(200)|raw}}</p>
                        <ul class="actions">
                            <li><a href="{{path('blogArticle',{'id': article.id})}}" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>

            </section>
        {% endfor %}

    </section>


{% endblock %}

{% block section3 %}
    <!-- <section id="three">
         <div class="inner">
             <header class="major">
                 <h2>Do you want to know aboutMassa libero</h2>
             </header>
             <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
             <ul class="actions">
                 <li><a href="generic.html" class="button next">Get Started</a></li>
             </ul>
         </div>
     </section>-->

{%endblock %}
