{# empty Twig template #}
{% extends '@AppBundle/base.html.twig' %}
{% block meta %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="title"  content="{{article.title}}">
    <meta name="keywords"    content="{{article.metaKeywords}}">
    <meta name="description"  content="{{article.metaDescription}}">
    <meta name="author"  content="Sergio Soriano Toro">
{%endblock%}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">

{%endblock%}

{% block banner %}

{% endblock %}

{% block section1 %}
    <section id="one">
        <div class="inner">
            <div class="row">

                <div class="12u 12u$(medium)">
                    <header class="major">
                        <h1>{{article.title}}</h1>
                        <h5><span class="icon alt fa-calendar"></span> {{article.date|date("d/m/Y")}} Category:{{article.category.name}}</h5>
                    </header>


                </div>

            </div>
            <div class="row">

                <div class="2u 12u$(medium)">
                    <span class="image main">
                        {%if imagePath is defined and imagePath is not empty%}
                            {% set completeImagePath =  "/uploads/images/" ~ imagePath    %}                    
                            <img src="{{asset(completeImagePath) }}" alt="Example"  />               
                        {%endif%}
                    </span>
                    <ul class="actions">

                        <li><a href="{{path('blog')}}" class="button special">Blog</a></li>
                    </ul>
                </div>
                <div id="contentArticle"  class="10u 12u$(medium)">
                    {{article.content|raw}}
                </div>
            </div>
            <div class="12u 12u$(medium)">



            </div>

        </div>

    </section>
{% endblock %}

{% block section2 %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });</script>

{% endblock %}