{% extends '@AppBundle/base.html.twig' %}
{% block banner %}
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="images/pic07.jpg" alt="" />
            </span>
            <header class="major">
                <h1>My Projects</h1>
            </header>
            <div class="content">
                <p></p>
            </div>
        </div>
    </section>
{% endblock %}

{% block section1 %}
    <section id="one">
        <div class="inner">
            {% include '@AppBundle/partials/projects.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block section2 %}




{% endblock %}

{% block section3 %}   

{%endblock %}
