{# empty Twig template #}
{% extends '@AppBundle/base.html.twig' %}
{% block banner %}
     <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="images/pic07.jpg" alt="" />
            </span>
            <header class="major">
                <h1>My Resume</h1>
            </header>
            <div class="content">
                <p>My life in one page</p>
            </div>
        </div>
    </section>
{% endblock %}


{% block section1 %}
    <section id="one">
        <div class="inner">           
            <p>
                <a href="#education" class="button special small logo scrolly"><span>Education</span></a></li>
                <a href="#experience" class="button special small logo scrolly"><span>Experience</span></a></li>
                <a  href="#skills" class="button special small logo scrolly"><span>Skills</span></a></li>
                <a  href="#projects" class="button special small logo scrolly"><span>Projects</span></a></li>
                <a  href="#publications" class="button special small logo scrolly"><span>Publications</span></a></li>
                <a  href="#contact" class="button special small logo scrolly"><span>Contact</span></a></li>
            </p>

            <!-- Content -->
            <h2>Sergio Soriano Toro</h2>

            <div class="row">


                <div class="2u 12u$(medium)">

                    <div class="image fit">{% image '@AppBundle/Resources/public/images/foto.jpg' %}
                        <img src="{{ asset_url }}" alt="Example" />
                        {% endimage %}</div>
                </div>
                <div class="10u 12u$(medium)">
                    
                    <blockquote>Desde los 15 años aprendí por mi cuenta programación empezando por Labview y Pascal. Inquieto y siempre a la última en programación y tecnología. No dejo de desarrollarme en todo lo que me despierta curiosidad. Soy multidisciplinar, y de visión holística. Formado en todo tipo de materias
                        ingeniero industrial, programador y humanista-documentalista de formación. Ahora domino varios lenguajes de programación (PHP, JAVA, Javascript, C#, Visual Basic, etc.), multitud de herramientas de ingenieria electrónica  y poseo habilidades perfectas para la búsqueda y gestión de la información. Actualmente vivo en Córdoba y tengo coche </blockquote>
                </div>
            </div>


            {% include '@AppBundle/partials/education.html.twig' %}
            {% include '@AppBundle/partials/experience.html.twig' %}
            {% include '@AppBundle/partials/skills.html.twig' %}
            {% include '@AppBundle/partials/projects.html.twig' %}
            {% include '@AppBundle/partials/publications.html.twig' %}



            <a style="filter:alpha(opacity=50); opacity:0.5;position: fixed; bottom: 50px; right: 15px; text-decoration:none; border-bottom: solid 0px" class="scrolly" href="#one"><span class="fa fa-3x fa-arrow-circle-up"</span></a>
        </div>
    </section>

    <!-- Elements -->




{% endblock %}




{% block section2 %}  
{% endblock %}

{% block section3 %}

{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script>
        $(document).ready(function () {
            var init = false;
            $(window).on('scroll', function () {
                if (Utils.isElementInView($('#scroll-spy'), false) && !init) {
                    Utils.animateBars(5000);
                    init = true;
                }
                if (Utils.isElementInView($('#scroll-spy2'), false) && !init) {
                    Utils.animateBars(5000);
                    init = true;
                }
                if (Utils.isElementInView($('#scroll-spy3'), false) && !init) {
                    Utils.animateBars(5000);
                    init = true;
                }
                if (Utils.isElementInView($('#scroll-spy4'), false) && !init) {
                    Utils.animateBars(5000);
                    init = true;
                }

            });


        });
        function Utils() {

        }

        Utils.prototype = {
            constructor: Utils,
            isElementInView: function (element, fullyInView) {
                var pageTop = $(window).scrollTop();
                var pageBottom = pageTop + $(window).height();
                var elementTop = $(element).offset().top;
                var elementBottom = elementTop + $(element).height();
                if (fullyInView === true) {
                    return ((pageTop < elementTop) && (pageBottom > elementBottom));
                } else {
                    return ((elementBottom <= pageBottom) && (elementTop >= pageTop));
                }
            },
            animateBars: function (time) {
                $('.skillbar').each(function () {
                    $(this).find('.skillbar-bar').animate({
                        width: $(this).attr('data-percent')
                    }, time);

                });
            }

        };
        var Utils = new Utils();



    </script>

{% endblock %}